<!DOCTYPE html>
<html>
<head>
  <title>GITS Homepage</title>

  <style>
    body {
      background-color: #666666;
      color: white;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      height: 100vh;
      margin: 0;
      margin-top: 20px;
    }

    h1 {
      font-size: 24px;
    }

    #form-container-create,
    #form-container-clone,
    #form-container-pull,
    #form-container-fork,
    #form-container-check_branch,
    #form-container-branch,
    #form-container-commit_count,
    #form-container-merge_branch,
    #form-container-commit_diff,
    #form-container-get_branches,
    #form-container-delete {
      display: none;
    }

  </style>

</head>

<body>

  <h1>GITS Homepage</h1>

  <!-- Image container -->

  <div id="image-container">
      <img src="{{ url_for('static', filename='image.gif') }}" alt="Animated GIF" width="450" height="300">
  </div>

  <br>

  <label for="option">Select an option:</label>
  <br>

  <select id="option" onchange="toggleForm(this)">
    <option value="hidden">-- Select --</option>
    <option value="create_repo">Create Repo</option>
    <option value="clone_repo">Clone Repo</option>
    <option value="delete_repo">Delete Repo</option>
    <option value="pull_repo">Pull Repo</option>
    <option value="fork_repo">Fork Repo</option>
    <option value="check_branch">Check Branch</option>
    <option value="get_branches">Get Branches</option>
    <option value="commit_count">Get Commit Count</option>
    <option value="merge_branch">Merge Branch to Main</option>
    <option value="commit_diff">Commit diff</option>

  </select>

  <br> <br>
  <div id="form-container-create">
    <form action="/create_repo" method="post">
      <label for="repoName">Repo Name:</label>
      <input type="text" id="repoName" name="repoName" required> <br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="form-container-clone">
    <form action="/clone_repo" method="post">
      <label for="repoURL">Repository URL:</label>
      <input type="text" id="repoURL" name="repoURL" required><br> <br>

      <label for="destinationPath">Destination Path:</label>
      <input type="text" id="destinationPath" name="destinationPath" required><br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="form-container-commit_count">
    <form action="/commit_count" method="post">
      <label for="repoURL">Repository URL:</label>
      <input type="text" id="repoURL" name="repoURL" required><br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="form-container-clone">
    <form action="/clone_repo" method="post">
      <label for="repoURL">Repository URL:</label>
      <input type="text" id="repoURL" name="repoURL" required><br> <br>

      <label for="destinationPath">Destination Path:</label>
      <input type="text" id="destinationPath" name="destinationPath" required><br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="form-container-delete">
    <form action="/delete_repo" method="post">
      <label for="userName">User Name:</label>
      <input type="text" id="userName" name="userName" required> <br> <br>

      <label for="repoName">Repo Name:</label>
      <input type="text" id="repoName" name="repoName" required> <br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="form-container-get_branches">
    <form action="/get_branches" method="post">
      <label for="repoOwner">Repo Owner:</label>
      <input type="text" id="repoOwner" name="repoOwner" required> <br> <br>

      <label for="repoName">Repo Name:</label>
      <input type="text" id="repoName" name="repoName" required> <br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="form-container-fork">
    <form action="/fork_repo" method="post">
      <label for="userName">User Name:</label>
      <input type="text" id="userName" name="userName" required> <br> <br>

      <label for="repoName">Repo Name:</label>
      <input type="text" id="repoName" name="repoName" required> <br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="form-container-check_branch">
    <form action="/check_branch" method="post">
      <label for="userName">User Name:</label>
      <input type="text" id="userName" name="userName" required> <br> <br>

      <label for="repoName">Repo Name:</label>
      <input type="text" id="repoName" name="repoName" required> <br> <br>

      <label for="branchName">Branch Name:</label>
      <input type="text" id="branchName" name="branchName" required> <br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="form-container-pull">
    <form action="/pull_repo" method="post">
      <label for="repoOwner">Repo Owner:</label>
      <input type="text" id="repoOwner" name="repoOwner" required> <br> <br>

      <label for="repoName">Repo Name:</label>
      <input type="text" id="repoName" name="repoName" required> <br> <br>

      <label for="filename">Filename:</label>
      <input type="text" id="filename" name="filename" required> <br> <br>

      <label for="localPath">Local FilePath:</label>
      <input type="text" id="localPath" name="localPath" required> <br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="form-container-merge_branch">
    <form action="/merge_branch" method="post">
      <label for="repoOwner">Repo Owner:</label>
      <input type="text" id="repoOwner" name="repoOwner" required> <br> <br>

      <label for="repoName">Repo Name:</label>
      <input type="text" id="repoName" name="repoName" required> <br> <br>

      <label for="branchName">Branch Name:</label>
      <input type="text" id="branchName" name="branchName" required> <br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <div id="form-container-commit_diff">
    <form action="/commit_diff" method="post">
      <label for="repoOwner">Repo Owner:</label>
      <input type="text" id="repoOwner" name="repoOwner" required> <br> <br>

      <label for="repoName">Repo Name:</label>
      <input type="text" id="repoName" name="repoName" required> <br> <br>

      <label for="branchName">Branch Name:</label>
      <input type="text" id="branchName" name="branchName" required> <br> <br>

      <input type="submit" value="Submit">
    </form>
  </div>

  <script>
    function toggleForm(selectElement) {
      document.getElementById('form-container-create').style.display = 'none';
      document.getElementById('form-container-clone').style.display = 'none';
      document.getElementById('form-container-pull').style.display = 'none';
      document.getElementById('form-container-fork').style.display = 'none';
      document.getElementById('form-container-delete').style.display = 'none';
      document.getElementById('form-container-check_branch').style.display = 'none';
      document.getElementById('form-container-get_branches').style.display = 'none';
      document.getElementById('form-container-commit_count').style.display = 'none';
      document.getElementById('form-container-merge_branch').style.display = 'none';
      document.getElementById('form-container-pull').style.display = 'none';
      document.getElementById('form-container-commit_diff').style.display = 'none';

      if (selectElement.value === 'create_repo') {
        document.getElementById('form-container-create').style.display = 'block';
      } else if (selectElement.value === 'clone_repo') {
        document.getElementById('form-container-clone').style.display = 'block';
      } else if (selectElement.value === 'delete_repo') {
        document.getElementById('form-container-delete').style.display = 'block';
      } else if (selectElement.value === 'pull_repo') {
        document.getElementById('form-container-pull').style.display = 'block';
      } else if (selectElement.value === 'fork_repo') {
        document.getElementById('form-container-fork').style.display = 'block';
      } else if (selectElement.value === 'check_branch') {
        document.getElementById('form-container-check_branch').style.display = 'block';
      } else if (selectElement.value === 'get_branches') {
        document.getElementById('form-container-get_branches').style.display = 'block';
      } else if (selectElement.value === 'commit_count') {
        document.getElementById('form-container-commit_count').style.display = 'block';
      } else if (selectElement.value === 'merge_branch') {
        document.getElementById('form-container-merge_branch').style.display = 'block';
      } else if (selectElement.value === 'commit_diff') {
        document.getElementById('form-container-commit_diff').style.display = 'block';
      }
    }
  </script>

</body>
</html>